// Les animations
@keyframes orbit-pullquote {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
// Les animations
@keyframes orbit-planet {
  0% {
    left: -8rem;
    top: 0vh;
  }
  25% {
    top: 8vh;
  }
  50% {
    top: 10vh;
  }
  75% {
    top: 8vh;
  }
  100% {
    left: 100vw;
    top: 0vh;
  }
}
@keyframes orbit-planet2 {
  0% {
    left: -8rem;
    bottom: 0vh;
  }
  25% {
    bottom: 8vh;
  }
  50% {
    bottom: 10vh;
  }
  75% {
    bottom: 8vh;
  }
  100% {
    left: 100vw;
    bottom: 0vh;
  }
}
@keyframes orbit-cloud {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes orbit-cloud2 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* The image width */
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceClassic {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounceClassic {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes bounceTitle {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@-webkit-keyframes bounceXl {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes bounceXl {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@-webkit-keyframes bounceXlReverse {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes bounceXlReverse {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(40px);
  }
}
@-webkit-keyframes bounceHX {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

@keyframes bounceHX {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}
@-webkit-keyframes bounceH {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes bounceH {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@-webkit-keyframes bounceHR {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes gifAnim {
  0% {
    transform: translateY(-50%) translateX(-50%);
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(50%);
    opacity: 0;
  }
}

@keyframes gifAnim2 {
  0% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) translateX(300%);
    opacity: 0;
  }
}

@keyframes bounceHR {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@-webkit-keyframes bounceReverse {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes bounceReverse {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    transform: rotateX(-360deg) rotateY(360deg);
    left: -100%;
    opacity: 0;
  }

  90% {
    transform: rotateX(-0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    left: 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    transform: rotateX(-360deg) rotateY(360deg);
    left: -100%;
    opacity: 0;
  }

  90% {
    transform: rotateX(-0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    left: 0%;
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-19 20:6:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
// Le nom des animations
.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.zoom {
  animation: zoom 60s infinite linear;
}

.bounceClassic {
  animation: bounceClassic 3s infinite ease-in-out;
}
.bounceXl {
  animation: bounceXl 5s infinite ease-in-out;
}
.bounceXlReverse {
  animation: bounceXlReverse 5s infinite ease-in-out;
}
.bounceH {
  animation: bounceH 3s infinite ease-in-out;
}

.bounceHR {
  animation: bounceHR 3s infinite ease-in-out;
}

.bounceReverse {
  animation: bounceReverse 3s infinite ease-in-out;
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scrolled-fade-in-from-right {
  animation: fade-in-from-right 2s forwards;
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.scrolled-fade-out-from-right {
  animation: fade-out-from-right 2s forwards;
}

@keyframes fade-out-from-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
// birds animation
@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-one {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@-webkit-keyframes fly-right-two {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
@keyframes fly-right-two {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
