// Les animations
@keyframes orbit-pullquote {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceClassic {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounceClassic {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes bounceTitle {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@-webkit-keyframes bounceXl {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes bounceXl {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@-webkit-keyframes bounceXlReverse {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes bounceXlReverse {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(00px);
  }
  100% {
    transform: translateY(40px);
  }
}
@-webkit-keyframes bounceH {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes bounceH {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@-webkit-keyframes bounceHR {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes bounceHR {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@-webkit-keyframes bounceReverse {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes bounceReverse {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    transform: rotateX(-360deg) rotateY(360deg);
    left: -100%;
    opacity: 0;
  }

  90% {
    transform: rotateX(-0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    left: 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    transform: rotateX(-360deg) rotateY(360deg);
    left: -100%;
    opacity: 0;
  }

  90% {
    transform: rotateX(-0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    left: 0%;
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-19 20:6:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
// Le nom des animations
.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.zoom {
  animation: zoom 60s infinite linear;
}

.bounceClassic {
  animation: bounceClassic 3s infinite ease-in-out;
}
.bounceXl {
  animation: bounceXl 5s infinite ease-in-out;
}
.bounceXlReverse {
  animation: bounceXlReverse 5s infinite ease-in-out;
}
.bounceH {
  animation: bounceH 3s infinite ease-in-out;
}

.bounceHR {
  animation: bounceHR 3s infinite ease-in-out;
}

.bounceReverse {
  animation: bounceReverse 3s infinite ease-in-out;
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scrolled-fade-in-from-right {
  animation: fade-in-from-right 2s forwards;
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.scrolled-fade-out-from-right {
  animation: fade-out-from-right 2s forwards;
}

@keyframes fade-out-from-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
// DARK THEME TITLE ANIMATION
.dark {
  @include share-title-animation(#13171b94);
}

// LIGHT THEME TITLE ANIMATION
.light {
  @include share-title-animation(#f3f3f373);
}
