// Common
.sectionBackgroundTexture {
  position: absolute;
  width: 100%;
  min-height: 90dvh;
  transition: 800ms;

  background-size: 100% 40dvh;

  min-width: 1400px;

  z-index: -1;
}
// SECTION 2

.section2BackgroundTexture {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/forest.webp);
  bottom: 0;
  opacity: 0.9;
  background-repeat: no-repeat;
}

// bird
.bird {
  background-image: url(../images/items/birds.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird--four {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  -webkit-transform: scale(0) translateX(-10vw);
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
  animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.bird-container--four {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 10.25s;
  animation-delay: 10.25s;
}

// nuage
.section2BackgroundTextureCloud {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/cloud.webp);
  background-repeat: repeat-x;
  top: 0;
  opacity: 0.15;
  min-width: 3200px;

  background-size: 50% 280px;
}
.Section2TextureCloudPosition {
  animation: orbit-cloud 90s infinite linear;
}

.Section2Texture1Position {
  background-position: bottom;
}

.Section2Texture2Position {
  background-position: bottom;
  opacity: 0.5;
  animation: bounceHX 2s infinite ease-in-out;
  z-index: -3;
}

//SECTION 3
.section3BackgroundStalagmite {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/ground.webp);
  bottom: 85dvh;
  z-index: -1;
  background-size: 25% 5.5dvh;

  background-repeat: repeat-x;
  transform: rotate(180deg);
}

.section3BackgroundStalagmite2 {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/ground.webp);
  bottom: -0.5dvh;
  z-index: -1;
  background-size: 25% 5.5dvh;
  background-position: bottom;
  background-repeat: repeat-x;
}

// SECTION 4
.section4DropWater {
  background-image: url(../images/items/dropWater.png);
  position: absolute;
  background-size: cover;
  width: 15px;
  height: 21px;
  top: -15px;
  left: 40%;
  z-index: -1;
  opacity: 0.6;
  filter: blur(1px);
  animation: dropWaterAnim infinite 4s ease-in;
}
.section4DropWater2 {
  background-image: url(../images/items/dropWater.png);
  position: absolute;
  background-size: cover;
  width: 15px;
  height: 21px;
  top: -15px;
  right: 30%;
  opacity: 0.6;
  filter: blur(1px);
  animation: dropWaterAnim infinite 8s ease-in;
  z-index: -1;
}

.section4BackgroundTexture {
  @extend .sectionBackgroundTexture;

  height: 100%;
  background-image: url(../images/background/cave.webp);
  opacity: 0.4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.section4BackgroundStalagmite {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/diamond.webp);
  top: 0dvh;

  z-index: -1;
  opacity: 0.5;
  background-size: 25% 5.5dvh;
  background-position: bottom;
  background-repeat: repeat-x;
  transform: rotate(180deg);
}
.section4BackgroundStalagmite2 {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/diamond.webp);
  bottom: 0dvh;

  z-index: -1;
  width: 100%;
  opacity: 0.5;
  background-size: 25% 5.5dvh;
  background-position: bottom;
  background-repeat: repeat-x;
}
