// Common
.sectionBackgroundTexture {
  position: absolute;
  width: 100%;
  min-height: 90dvh;
  transition: 800ms;

  background-size: 100% 40dvh;

  min-width: 1400px;

  z-index: -1;
}
// SECTION 2

.section2BackgroundTexture {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/forest.webp);
  bottom: 0;
  opacity: 0.9;
  background-repeat: no-repeat;
}

.section2BackgroundTextureCloud {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/cloud.webp);
  background-repeat: repeat-x;
  top: 0;
  opacity: 0.15;
  min-width: 3200px;

  background-size: 50% 280px;
}
.Section2TextureCloudPosition {
  animation: orbit-cloud 90s infinite linear;
}

.Section2Texture1Position {
  background-position: bottom;
}

.Section2Texture2Position {
  background-position: bottom;
  opacity: 0.5;
  animation: bounceHX 2s infinite ease-in-out;
  z-index: -3;
}

//SECTION 3
.section3BackgroundStalagmite {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/ground.webp);
  bottom: 85dvh;
  z-index: -1;
  background-size: 25% 5.5dvh;

  background-repeat: repeat-x;
  transform: rotate(180deg);
}

.section3BackgroundStalagmite2 {
  @extend .sectionBackgroundTexture;
  background-image: url(../images/background/ground.webp);

  z-index: -1;
  background-size: 25% 5dvh;
  background-position: bottom;
  background-repeat: repeat-x;
}
// SECTION 4

.section4BackgroundTexture {
  @extend .sectionBackgroundTexture;
  min-height: 82.5dvh;
  background-image: url(../images/background/texture2.svg);
  opacity: 0.1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
