// Variables
$font-cinzel: "Cinzel";
$font-cormorant: "Cormorant";

$section-height: 90dvh;
$last-section-height: 82.5dvh;

// Font
@font-face {
  font-family: $font-cinzel;
  src: url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: $font-cormorant;
  src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf")
    format("truetype");
}

// Reset and common styles
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1;
  font-family: $font-cormorant;
  cursor: url("../cursor/classic.svg"), default;
}

// Main and Scroll Container
main {
  height: 100vh; // Full viewport height
  height: 100dvh; // Full viewport height
}

button,
a {
  cursor: url("../cursor/cursor.svg"), default;
}

.scroll-container {
  height: $section-height;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none; // Hide scrollbars
  }
}

.scroll-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}

.sectionHeight {
  min-height: $section-height;
}

.lastSectionHeight {
  min-height: $last-section-height;
}
