$dark-background-color: #2e3445;
$dark-primary-color: #0505059a;
$dark-secondary-color: #e7f3a1;
$dark-accent-color: #51fa6d;
$dark-button-bg-color: rgb(3, 177, 81);
$dark-button-border-color: rgb(0, 129, 58);
$dark-theme-button-bg-color: #1a5994;
$dark-theme-button-border-color: #1a5994;
$dark-theme-button-text-color: #ffffa8;

// Light Theme Colors //
$light-primary-color: #c8c4fe;
$light-secondary-color: #141414;
$light-accent-color: #007fe7;
$light-button-bg-color: rgb(105, 105, 105);
$light-button-border-color: rgb(145, 142, 142);
$light-theme-button-bg-color: #007fe7;
$light-theme-button-border-color: #007fe7;
$light-theme-button-text-color: #feebd6;
